
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">TRANG ADMIN</h2>

<body class="img js-fullheight" style="background-image: url('../../assets/images/bg.jpg');">
</body> 