@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    088.609.4585
</address>

<address>
    <strong>Support:</strong>   <a>Nguyentienvu.2511@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/nguyenvumkt.2511/">Nguyễn Vũ</a>
</address>