@model IEnumerable<Web_Mobile.Models.NhaSanXuat>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhà Sản Xuất</a>
    <div class="dropdown-menu">
        <div class="dropdown-inner">
            <ul class="list-unstyled">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("SPTheoNSX", "Mobile", new { id = item.MaNSX})">@item.TenNSX</a></li>
                }
            </ul>
        </div>
    </div>
</li>
